[Unit]
Description=The dumbest possible spectrum monitor
After=gpsd.service
Wants=gpsd.service

[Service]
ExecStart=/home/pi/pi_rfi_survey/pi_rfi_survey

[Install]
WantedBy=multi-user.target
