[Unit]
Description=The dumbest possible spectrum monitor
After=gpsd.service
Wants=gpsd.service

[Service]
ExecStart=/home/pi/pi_rfi_checker/pi_rfi_checker

[Install]
WantedBy=multi-user.target
